body {
  background: url(../img/wallpaper_minecraft_island_2560x1440.png) no-repeat;
  background-size: cover;
  background-position: fixed;
}

section {
  min-height: 100vh;
}

.calculator {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}
#build-list-button {
  text-align: center;
  vertical-align: middle;
}

/*Select2 Styles*/

.select2-container .select2-selection--single {
  height: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #dbdbdb;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 7px;
}

.select2-container--default
  .select2-selection--singleF
  .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px;
}
  
.block-icon {
  max-width: 25px;
  height: auto;
  margin-right: 3px;
  margin-bottom: -5px;
}
.dropdown-text {
  line-height: 30px;
}
/*General Form Styles*/
.input.number {
  width: 60px;
  font-size: 18px;
  padding: 1.16rem 0;
}
.input.item-names {
  width: 250px;
}

